<nav>
      <div class="hmlogo"><img src="./images/hmburger.png"></div>
      <ul>
          <li><a href="#">CDU Home</a></li>

          <li><a href="#">About CDU <em class="fa fa-sort-desc"></em></a>
                <ul>
                      <li><a href="#">Universtiy Profile</a></li>
                      <li><a href="#">Corporate Information</a></li>
                      <li><a href="#">Structure and Leadership</a></li>
                      <li><a href="#">University Operation</a></li>
                </ul>
          </li>

          <li><a href="#">Courses<em class="fa fa-sort-desc"></em></a>
                 <ul>
                       <li><a href="#">Undergraduate</a></li>
                       <li><a href="#">Postgraduate Coursework</a></li>
                       <li><a href="#">Postgraduate Research</a></li>
                       <li><a href="#">VET</a></li>
                 </ul>
           </li>

           <li><a href="#">Library<em class="fa fa-sort-desc"></em></a>
                 <ul>
                       <li><a href="#">Library Services</a></li>
                       <li><a href="#">Databases</a></li>
                       <li><a href="#">Subject Libguides</a></li>
                       <li><a href="#">eJournals/eBooks/eReadings</a></li>
                       <li><a href="#">Special Collections</a></li>
                       <li><a href="#">Researching Help</a></li>
                 </ul>
           </li>

           <li><a href="#">Contact us<em class="fa fa-sort-desc"></em></a>
                 <ul>
                       <li><a href="#">General enquiries</a></li>
                       <li><a href="#">Student Central</a></li>
                       <li><a href="#">International Students</a></li>
                       <li><a href="#">Indigenous students</a></li>
                       <li><a href="#">Future students</a></li>
                       <li><a href="#">Research Students</a></li>
                 </ul>
           </li>

        </ul>
      </nav>

<script src="./js/java.js"></script>
